header{
    width: 7.5rem;
    height: 4.34rem;
    background: yellow;
    position: relative;
}
.circle{
    width: .42rem;
    height: .42rem;
    background:#7D7879;
    border-radius: 50%;
    position: absolute;
    top: .2rem;
    left:.2rem;
    font-size: .3rem;
    text-align: center;
    line-height: .36rem;
    color: white;

}
.head-right{
    width: .6rem;
    height: .24rem;
    background:#7D7879;
    border-radius: .3rem 0 0 .3rem;
    position: absolute;
    right: 0;
    top: .2rem;
    color:white;
    font-size: .12rem;
    text-align: center;
    line-height: .24rem;
}
/*内容开始*/
section{
    overflow-y: scroll;
}
.main-money{
    width: 100%;
    height: 1.3rem;
    /*background: yellowgreen;*/
    padding:.2rem .17rem 0;
    font-size: .3rem;
    border-bottom: 1px solid #EAEAEA;
}
.main-money li{
    width: 100%;
}
.del-though{
    font-size: .22rem;
     color: #98989f;
    text-decoration: line-through;
    margin-left: .1rem;
}
.main-money li span:nth-child(3){
    background:#39424A;
    padding:0  .06rem ;
    color:white;
    font-size: .16rem;
    border-radius: .04rem .04rem;
}
.main-money li:nth-child(1){
    position: relative;
}
.add-tu{
    width: .4rem;
    height: .4rem;
    background: plum;
    position: absolute;
}
.tu1{
    right: .6rem;
    top:0;
}
.tu2{
    right: 0;
    top:0;
}
.main-money li:nth-child(2){
    margin-top: .2rem;
    color: #404040;
    font-weight: 400;
    font-size: .2rem;
}
/*活动开始*/
.active{
    width: 7.15rem;
    height: 2.3rem;
    /*background: yellow;*/
    margin: 0 auto;
    padding:.28rem 0;
}
.active li{
    width: 100%;
    height:.29rem;
    margin-bottom: .28rem;
    /*background: lightgray;*/
    font-size: .12rem;
}
.active-txt{
    width: .84rem;
    height: .27rem;
    border:1px solid #5682C1;
    border-radius: .06rem;
    font-size: .16rem;
    text-align: center;
    line-height: .27rem;
    color:#5682C1;
    display: inline-block;
}
.active li span{
    margin-left: .2rem;
    font-size: .18rem;
    color: black;
}
/*活动结束*/
/*规格开始*/
#size{
    width: 7.5rem;
    height: 1.36rem;
    /*background: yellowgreen;*/
    padding:0  .18rem;
    /*font-size: .12rem; */
}
#size li:nth-child(1){
    font-size: .3rem;
    font-weight: 400;
    margin-bottom: .2rem;
}
#size li:nth-child(2){
    width: 1.4em;
    border: 1px solid #DE3D96;
    border-radius:.1rem;
    font-size: .12rem;
    padding:.1rem .7rem .1rem .4rem;
    color: #DE3D96 ;
}
/*配送开始*/
.go{
    width: 100%;
    height: 1rem;
    /*background: papayawhip;*/
    padding:0  .18rem;
}
.go li:nth-child(1){
    font-size: .18rem;
    margin-bottom: .14rem;
}
.go li:nth-child(2){
    font-size: .16rem;
    color: #585c64;
}
/*商品信息开始*/
.message{
    width: 100%;
    padding:0  .18rem;
}
.message h3{
    font-size: .24rem;
    line-height: .8rem;
    font-weight: 400;
}
.message p{
    line-height: .24rem;
    font-size: .18rem;
     color: #5f636b;
    margin-bottom: .4rem;
}
.message-inner{
    width: 100%;
    padding:0  .18rem;
}
.message-inner li{
    font-size: .18rem;
    line-height: .4rem;
    color: #5f636b;
}
.mess-img-pc1{
    width: 100%;
    height: 5.64rem;
}
.mess-img-pc2{
    height: 15.74rem;
    width: 100%;
}
/*固定底部开始*/
footer{
    width: 100%;
    height: .95rem;
    position: fixed;
    bottom:0;
    left: 0;
    padding:.17rem;
    background:white;
}
.foot-che{
    width: 1.77rem;
    height: .6rem;
    float: left;
    position: absolute;
    left:.17rem;
    top:.17rem;
}
.foot-che img,.add-che img{
    position: absolute;
    left:0;
    top:0;
}
.add-che{
    width: 5.22em;
    height: .6rem;
    float: left;
    position: absolute;
    left: 2.1rem;
    bottom:.17rem;
}
/*固定底部结束*/






